################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj
/packages
/Sharplog.Benchmarks/bin/Debug
/Sharplog.Benchmarks/obj/Debug
/SharplogTest/bin/Debug
/SharplogTest/obj/Debug
/Sharplog.Benchmarks/obj/Release
/SharplogTest/obj/Release
/ConsoleApp1/bin/Release
/Sharplog.Benchmarks/bin/Release
/SharplogTest/bin/Release
/Sharpalog/bin/Debug/net6.0
/Sharpalog/obj
/SharpalogBenchmarks/obj
/SharpalogBenchmarks/bin/Debug/net6.0
/SharpalogTest/bin/Debug/net6.0
/SharpalogTest/obj
/SharpalogKME/bin/Debug/net6.0
/SharpalogKME/obj
/SharpalogKME/bin/Release/net6.0
/Sharpalog/bin/Release/net6.0
/SharpalogTest/bin/Release/net6.0
/SharpalogKME/bin/DebugW/net6.0
