################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj
/packages
/Sharplog.Benchmarks/bin/Debug
/Sharplog.Benchmarks/obj/Debug
/SharplogTest/bin/Debug
/SharplogTest/obj/Debug
/Sharplog.Benchmarks/obj/Release
/SharplogTest/obj/Release
/ConsoleApp1/bin/Release
/Sharplog.Benchmarks/bin/Release
/SharplogTest/bin/Release
